<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <title>vue</title>
    <style>
        .tab {
            width: 300px;
            height: 300px;
            border: 1px solid orange;
        }
        .tab .header {
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #ccc;
        }
        .header .item {
            float: left;
            padding: 0 10px;
            text-align: center;
            cursor: pointer;
        }
        .header .item.active {
            background: orange;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- {{ test1 }}
        <br>
        {{ test2 }}
        <br>
        <input type="text" v-model="test1" />
        <br>
        多选框的值：{{ checkbox }}
        <br>
        <input type="checkbox" v-model="checkbox">
        <br>
        <textarea v-model="test1" cols="30" rows="10"></textarea>
        <ul>
            <li v-for="k in arr">
                {{k}}
            </li>
        </ul>
        <ul>
            <li v-for="item in arr1">
                姓名：{{ item.name }}
                年龄： {{ item.age }}
                性别：{{ item.sex }}
            </li>
        </ul> -->
        <!-- tab 选项卡 -->
        <div class="tab">
            <div class="header">
                <div class="item" :class="{active:tabIndex == index}" v-for="(item,index) in arr1" @click="tabIndex = index">
                    {{ item.name }}
                </div>
            </div>
            <div class="cont">
                <div v-for="(item,index) in arr1" v-show="tabIndex == index">
                    姓名：{{ item.name }}
                    <br>
                    年龄：{{ item.age }}
                    <br>
                    性别：{{ item.sex }}
                    
                </div>
            </div>
            姓名：
            <input type="text" v-model="info.name" />
            <br>
            年龄：
            <input type="text" v-model="info.age" />
            <br>
            性别：
            <input type="text" v-model="info.sex" />
            <br>
            <button @click="send">添加</button>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                tabIndex: 0,
                test1: "第一个 Vue 实例",
                test2: "测试",
                checkbox: true,
                active: false,
                show: true,
                arr: ["张三", "李四", "王五"],
                arr1: [{
                    name: "张三",
                    age: "21",
                    sex: "男"
                },{
                    name: "凤姐",
                    age: "42",
                    sex: "女"
                },{
                    name: "王五",
                    age: "43",
                    sex: "男"
                }],
                info: {
                    name: "",
                    age: "",
                    sex: ""
                }
            },
            methods: {
                send() {
                    // console.log(this.info);
                    if (!this.info.name || !this.info.age || !this.info.sex) return;
                    this.arr1.push(this.info);
                    this.info = {
                        name: "",
                        age: "",
                        sex: ""
                    }
                },
                toggle () {
                    this.show = !this.show;
                }
            }
        });
        // console.log(vm)
    </script>
</body>
</html>